Django==3.2.7
mysqlclient==2.0.3
django-environ==0.8.1
django-debug-toolbar==3.2
django-allauth==0.45.0
Celery==5.1.2
Redis==4.0.2
djangorestframework==3.12.4
markdown==3.3.4
django-filter==2.4.0
django-storages==1.12.2
boto3==1.17.49
pytest==6.2.4
pytest-django==4.4.0
flake8==3.9.2
black==21.9b0
